#plugin-PageInfo {
    position: fixed;
    width: 330px;
    height: 100%;
    top: 32px;
    right: -290px;
    z-index: 999999;
}
#plugin-PageInfo-click{
	float:left;
    height:40px;
    width:40px;
       background: #FFF none repeat scroll 0% 0%;
    line-height: 1;
    border-radius: 0px;
    margin: 0px;
    pointer-events: auto;
font-size: 30px;
padding: 5px;
}
#plugin-PageInfoContainer {
	width:290px;
	height:100%;
	float:right;
	background:white;
	font-size: 14px;
	font-weight: bold;
	font-family: arial, sans-serif;
}
#slideOutContainer {
	height:100%;
	margin-left: 40px;
}
#slideTitle {
	height:20px;
	background:#fff;
box-sizing:padding-box;
	width:100%;
	padding: 10px;
	color:#C0C6CE;
display: block;
margin-bottom: 18px;
}
#slideContent {
	background:#fff;
	width: 100%;
	height: 100%;
	padding: 10px;
    padding-right: 13px;
	color: #000;
	box-sizing:padding-box;
}
#slideFooter {
    height: 40px;
    background: #fff;
    width: 100%;
    padding: 10px;
    color: #000;
    box-sizing: padding-box;
    font-weight: bold;
    text-decoration: none;
}
#slideFooter a {
	text-decoration: none;
	color: inherit;
}
#slideFooter a:hover {color:#9EA3AA;}




#plugin-PageInfo.original #plugin-PageInfo-click {
    float: left;
    height: 40px;
    width: 40px;
    background: #EE8D40 none repeat scroll 0% 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#plugin-PageInfo.light #plugin-PageInfoContainer, #plugin-PageInfo.light #slideTitle, #plugin-PageInfo.light #slideContent, #plugin-PageInfo.light #slideFooter, #plugin-PageInfo.light #plugin-PageInfo-click { background:#fff; }

#plugin-PageInfo.dark #plugin-PageInfoContainer, #plugin-PageInfo.dark #slideTitle, #plugin-PageInfo.dark #slideContent, #plugin-PageInfo.dark #slideFooter, #plugin-PageInfo.dark #plugin-PageInfo-click { background:#23282D; }

.swatch {
    height: 30px;
    width: 90%;
    border: 2px #9EA3AA solid;
    line-height: 30px;
    padding-left: 7px;
    border-top: 0px;
    box-sizing: padding-box;
}
.swatch:nth-child(1){
	border-top:2px solid #9EA3AA;
}
.swatchIcon {
	height:10px;
	width:10px;
	border:2px #000 solid;
		display:inline-block;
	float:left;
	margin-top: 9px;
}
.swatchIcon::after {
    content: "";
    position: relative;
    bottom: 17px;
    left: 3px;
    width: 0px;
    height: 0px;
    border-bottom: 4px solid #FFF;
    border-left: 4px solid transparent;
}
.swatchName {
	display:inline-block;
	float:left;
	width:140px;
}
.swatchHex {
	display: inline-block;
	float:left;
	width:100px;
}














.settings{position:fixed!important;right:-240px;top:32px;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-moz-transition:right .2s ease 0s;-o-transition:right .2s ease 0s;-webkit-transition:right .2s ease;-webkit-transition-delay:0s;transition:right .2s ease 0s;border-left:1px solid #c8c7cc!important;border-bottom:1px solid #c8c7cc!important;width:240px;z-index:1060;
direction: ltr;
font-family: Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 1.42857143;}

.settings.active{right:0}

.settings > .btn {
        color: #c8c7cc !important;
    background: #fff !important;
    border-color: #c8c7cc !important;
    left: -45px;
    padding: 10px 15px;
    position: absolute;
    top: 41px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transform: translateZ(0);
    border: 1px solid;
    border-right: 0px;
}
.panel-heading-icon-rotated {
-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
   -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
     -ms-transition: transform 0.2s ease; 
     -o-transition: transform 0.2s ease; 
     transition: transform 0.2s ease;

}
.settings>.btn:active,.settings>.btn:focus,.settings>.btn:hover{box-shadow:none!important}

.settings.panel{border-radius:0!important;border-top:none;border-right:none;background:#fff;border-color:#c8c7cc!important}

.settings.panel .panel-heading{border-top-width:1px;border-top-style:solid;padding:11px 15px;background:#efeff0;border-color:#c8c7cc;border-radius:0!important}

.settings.panel .panel-body{padding:0;}

.settings.panel .panel-body.panel-active{background-color:red!important;}

.settings.panel .setting-box{border-bottom:1px solid #c8c7cc;padding:11px 10px 10px}

.settings.panel .setting-box .setting-title{padding:5px 0}

.settings.panel .setting-box .full-width {
    width: 100%;
}

.settings.panel .setting-box:last-child{border-bottom:none}

.colors-row{display:table;height:100%;table-layout:fixed;width:100%;padding-bottom:0!important;padding-top:5px!important;border-bottom:none!important}


.setting-title.pull-left.ng-scope {
    font-weight: bold;
}



.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    display: table;
    content: " ";
}
















